:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 60px - 40px);
  padding-top: 40px;
  @media only screen and (max-width: 600px) {
    padding-top: 0;
    height: calc(100vh - 60px);
  }
}

canvas {
  border: 1px solid #eee;
  height: 500px;
  width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
  @media only screen and (max-width: 600px) {
    height: 100%;
    width: 100%;
  }
}

.prediction {
  margin-top: auto;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  height: 25px;
}

.actions {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  button {
    margin-right: 15px;
  }
}
